#SearchRead {
  background: rgba(255, 255, 255, 0.209);
}

#SearchRead:hover {
  background: rgba(255, 255, 255, 0.418);
}
#SearchText {
  grid-template-columns: 0.75fr 0.2fr;
  grid-template-rows: 1fr;
}
